/* NProgress 进度条样式 */

/* 使点击事件穿透 */
#nprogress {
  pointer-events: none;
}

/* 进度条主体 */
#nprogress .bar {
  background-color: var(--color-primary);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1031;
  height: 2px;
  width: 100%;
}

/* 进度条尾部光晕效果 */
#nprogress .peg {
  position: absolute;
  right: 0;
  display: block;
  height: 100%;
  width: 100px;
  box-shadow:
    0 0 10px var(--color-primary),
    0 0 5px var(--color-primary);
  opacity: 1;
  transform: rotate(3deg) translate(0, -4px);
}

/* 加载旋转图标容器 */
#nprogress .spinner {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 1031;
  display: block;
}

/* 旋转图标样式 */
#nprogress .spinner-icon {
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  border: 2px solid transparent;
  border-top-color: var(--color-primary);
  border-left-color: var(--color-primary);
  animation: nprogress-spinner 400ms linear infinite;
}

/* 自定义父容器 */
.nprogress-custom-parent {
  position: relative;
  overflow: hidden;
}

/* 自定义父容器内的进度条和旋转图标定位 */
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

/* 旋转动画关键帧 */
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
